<ion-header>
  <ion-toolbar color="medium">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre Nós </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <h1 class="ion-text-center"> A rede social das promoções</h1>

  <h2 class="ion-text-center" size="small" >Uma rede social feita com a ajuda de fãs da economia como você</h2>

  <p>A comunidade compartilha Cupons e Promoções das maiores lojas virtuais do varejo do Brasil: Amazon, Lojas Americanas, Boticário, Casas Bahia, Centauro, Carrefour, Natura, Dafiti, Extra, Fast Shop, Kanui, Magazine Luiza, Netshoes, Ponto Frio, Shoptime, Sou Barato, Steam, Submarino e muito mais!</p>

 
    <ion-card class="ion-no-margin ion-margin-vertical">
     <ion-card-content>
      <h1 class="ion-text-center" size="small" >Nossa Equipe</h1>
        <ion-grid class="ion-no-padding">
          <ion-row>              

              <ion-col class="col-6"> 
              <ion-img src="/assets/homem-perfil.png"></ion-img>

              <h1 class="ion-text-center"> Gabriel Salles</h1>
              <h2 class="ion-text-center"> Desenvolvedor Web</h2>
            </ion-col>

              <ion-col class="col-6"> 
                <ion-img src="/assets/mulher-perfiç.png"></ion-img>
  
                <h1 class="ion-text-center"> Amanda Lima</h1>
                <h2 class="ion-text-center"> Desenvolvedor Web</h2>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  
</ion-content>

