<ion-header>
  <ion-toolbar color="medium">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title> Política de Privacidade </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

 <div class="texto" >
  <h1 class="ion-text-center" size="small">Esta Política de Privacidade (“Política”) é o documento que demonstra o compromisso da:</h1>

  <p>COMÉRCIO DE PRODUTOS ESPORTIVOS S/A (“Centauro” / “nós” / “nosso(a)”), inscrita no CNPJ sob o nº 06.347.409/0069-53, com sede localizada na: Rua Martins Gonçalves de Souza, nº 346, Bairro dos Pires, Extrema – MG, CEP 37640-000 com a privacidade e proteção das informações, quando tratamos Dados Pessoais ao prestar regularmente nossos serviços e quando o Usuário interage em nossos sites, aplicativos ou quaisquer outras plataformas de titularidade do Grupo SBF.
  Nesta Política, descrevemos como os Dados Pessoais do Usuário são coletados, utilizados, compartilhados e armazenados.
  Esta Política se aplica a todas as Plataformas, serviços e negócios do Grupo SBF.
  NOTA ESPECIAL PARA MENORES DE 18 ANOS
  O Grupo SBF proíbe que menores de 18 anos de cadastrar ou fazer compras nas Plataformas. </p>
</div>
</ion-content>
