<ion-header>
  <ion-toolbar color="medium">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>O Aplicativo</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content> <div class="texto" >

  <h2 class="ion-text-center"> As melhores ofertas da Internet</h2>

  <h1 class="ion-text-center" size="small" >Como funciona?</h1>

  <p>A comunidade compartilha Cupons e Promoções das maiores lojas virtuais do varejo do Brasil: Amazon, Lojas Americanas, Boticário, Casas Bahia, Centauro, Carrefour, Natura, Dafiti, Extra, Fast Shop, Kanui, Magazine Luiza, Netshoes, Ponto Frio, Shoptime, Sou Barato, Steam, Submarino e muito mais!</p>


  <h1 class="ion-text-center" size="small">Segurança</h1> 
  <p>Todas as lojas são verificadas pelos moderadores e pela comunidade antes de aparecem no site para melhor experiência possível.</p>

</div>
</ion-content>
