<ion-content fullscreen class="ion-padding">

      <div>
        <ion-img src="assets/logo3.png"></ion-img>
        <h2 class="ion-text-center">Pechincha</h2>
        <p class="ion-text-center"> A maior comunidade de preços baixos, descontos e promoções do país!</p>
        <p class="ion-text-center">Cadastre-se no botão abaixo</p>
        <p class="ion-text-center">E tenha acesso as nossas promoções.</p>
        <ion-button expand="block" routerLink="/user/login" color="medium">Entrar / Cadastrar</ion-button>
      </div>

</ion-content>